<section class="hero center">
    <h1 class="hero__title">
        Discover, share and organize colors together
    </h1>
    <a href="/colors" class="hero__cta-btn">
        Explore
        <i class='bx bx-right-arrow-alt hero__cta-btn-icon' ></i>
    </a>
</section>