<li class="share-item">
    <a href="/share/<%= endpointItemName %>" class="share-item__link">
        <i class='<%= iconClass %> share-item__icon'></i>
        <h2 class="share-item__title"><%= title %></h2>
        <span class="share-item__subtitle"><%= subtitle %></span>
    </a>
</li>