<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-boilerplate') %>
</head>
<body>
    <%- include('partials/header', { currentRoute: 'colors' }) %>
    <main class="main spacing-top">
        <%- include('partials/colors-list', { colors: colors }) %>
    </main>
</body>
</html>
