<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-boilerplate') %>
</head>
<body>
    <%- include('partials/header', { currentRoute: '' }) %>
    <%- include('partials/hero') %>
</body>
</html>
