<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<body>
    <%- include('partials/header', { currentRoute: '' }) %>
    <section class="hero">
        <h1 class="hero__title">
            Discover, share and organize colors together
        </h1>
        <a href="/colors" class="hero__cta-btn">
            Explore
            <img src="/icons/right-arrow-alt.svg" alt="Arrow right">
        </a>
    </section>
</body>
</html>
