<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-boilerplate') %>
</head>
<body>
<%- include('partials/header', { currentRoute: 'palettes' }) %>
    <main class="main spacing-top">
        <h2 class="visually-hidden">All Palettes</h2>
        <%- include('partials/palettes-list', { palettes: palettes }) %>
    </main>
</body>
</html>