<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-boilerplate') %>
</head>
<body>
    <%- include('partials/header', { currentRoute: 'tags' }) %>
    <main class="main spacing-top">
        <h2 class="visually-hidden">All Tags</h2>
        <ul class="list gap--l tags-list">
            <% tags.forEach((tag) => { %>
                <li class="list__item">
                    <a href="/tags/<%= tag.id %>" class="link tag">
                        <%= tag.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </main>
</body>
</html>