@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

/* || Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input, button, textarea, select {
    font: inherit;
}

/* || End Reset */
:root {
    --primary-color: #FF4869;
    --default: #000000;
    --neutral: #E7E7E7;
    --neutral-dark: #4C4B4B;
    --neutral-darker: #161a1d;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: var(--default);
    display: grid;
    min-height: 100dvh;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    background-color: #FFFFFF;
    font-family: 'Chillax', sans-serif;

    & .header__logo {
        font-size: 3rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--primary-color);
    }

    & .header__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 2em;

        & .header__nav-item {
            & .header__nav-link {
                text-decoration: none;
                color: var(--default);
                font-size: 1.2rem;
                font-weight: 600;

                &:hover {
                    color: var(--primary-color);
                }
            }

            & .header__nav-link--highlighted {
                color: var(--primary-color);
            }
        }
    }

    & .header__separator {
        flex: 1 1 100%;
        border: 1px solid var(--neutral);
    }
}

.hero {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    & .hero__title {
        max-width: 16ch;
        font-size: 4.5rem;
        font-weight: bold;
        text-align: center;
        color: var(--neutral-darker);
    }

    & .hero__cta-btn {
        font-family: 'Chillax', sans-serif;
        display: flex;
        padding: .6em 1.5em;
        text-decoration: none;
        background-color: var(--primary-color);
        color: #FFFFFF;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 999em;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}
