.hero {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.hero__title {
    max-width: 16ch;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--neutral-darker);
}
.hero__cta-btn {
    font-family: 'Chillax', sans-serif;
    display: flex;
    align-items: center;
    padding: .6em 1.5em;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: var(--pill-radius);
    transition: transform .2s ease-in-out;
}
.hero__cta-btn:hover {
    transform: scale(1.05);
}
.hero__cta-btn-icon {
    font-size: 1.5rem;
}