.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 8rem;
}

.palettes-list {
  display: flex;
  gap: 5em;
  list-style: none;
}

.palette-link {
  text-decoration: none;
}

.palettes-list__item {
  width: 380px;
  height: 190px;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
}

.palette-colors-list {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  gap: 1em;
}

.palette-colors-list__item {
  width: 100%;
  height: 100%;
  border-radius: var(--pill-border);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
