.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.palette-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3em;
}

.palette-colors-list {
  width: 400px;
  height: 400px;
  display: flex;
  list-style: none;
  gap: 1em;
}

.palette-colors-list__item {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: var(--pill-border);
}

.palette-colors-list__item-link {
  width: 100%;
  height: 100%;
}

.palette-details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.palette-details__name {
  font-family: 'Chillax', sans-serif;
  font-size: 2.5rem;
}

.palette-details__description {
  color: var(--neutral-dark);
  max-width: 40ch;
}

.palette-details__created-at {
  margin-top: 2em;
  font-size: 0.8rem;
  color: var(--neutral-dark);
}
