.share-page__main {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
}
.share-page__title {
  font-size: 3.5rem;
}
.share-actions {
  list-style: none;
  display: flex;
  gap: 5em;
  padding: 0;
  margin: 0;
}
.share-actions__link {
  color: var(--neutral-dark);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  transition: var(--share-page-actions-transition);
}
.share-actions__icon {
  font-size: 9rem;
  padding: 0.45em;
  border-radius: var(--pill-radius);
  color: var(--neutral-dark);
  box-shadow: 0 0 50px 1px var(--neutral);
  transition: var(--share-page-actions-transition);
}
.share-actions__title {
  font-size: 3rem;
  font-family: 'Chillax', sans-serif;
}
.share-actions__subtitle {
  font-size: 0.8rem;
  color: transparent;
  font-weight: 600;
  transition: var(--share-page-actions-transition);
}
.share-actions__link:hover {
  color: var(--primary-color);
  transform: translateY(-5%);
}
.share-actions__link:hover .share-actions__icon {
  color: var(--primary-color);
  background-color: var(--primary-color-lighter);
  box-shadow: 0 0 50px 1px var(--primary-color-lighter);
}
.share-actions__link:hover .share-actions__subtitle {
  color: var(--primary-color-light);
}
