$color-primary: #ff4869;
$color-primary-lighter: #ffdfe5;
$color-default-light: #f5f5f5;
$color-default-dark: #0a0800;
$color-neutral: #e7e7e7;
$color-neutral-dark: #4c4b4b;
$color-neutral-dark-opaque: #4c4b4b80;
$color-neutral-darker: #161a1d;

$transition-fast: 100ms ease-in-out;
$transition-normal: 200ms ease-in-out;
$transition-slow: 300ms ease-in-out;

$scale-sm: 1.02;
$scale-md: 1.05;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$radius-sm: 0.313rem; // 5px
$radius-md: 0.625rem; // 10px
$radius-lg: 0.9375rem; // 15px
$radius-circle: 50%;

$pill-border: 999em;

$header-height: 6.25rem;